@include media-breakpoint-up(xl) {
  .calc-form-title {
    max-width: 650px;
    padding-left: 21px;

    &::after {
      display: inline-block;
      margin: 12px 20px;
    }
  }
}

.calc-form-content-container {
  padding-top: 55px !important;
}

.calc-form {
  padding: 52px 30px 34px;
  margin-top: 54px;
  // margin-bottom: 60px;
  border-radius: 20px;
  background: $body-secondary-bg;

  .input-block {
    margin-bottom: 19px;

    .form-label {
      margin-bottom: 5px;
      font-size: 15px;
      font-weight: 600;
      line-height: 18.9px;
      text-align: left;
    }

    .form-control {
      padding: 19px 20px 18px;
      border-radius: 10px;
      font-size: 15px;
      font-weight: 400;
      line-height: 18.9px;
      text-align: left;
    }
  }
}

@include media-breakpoint-up(xl) {
  .calc-form-content-container {
    padding-top: 100px !important;
  }

  .calc-form {
    position: relative;
    margin-top: 56px;
    margin-left: 20px;
    margin-bottom: 14px;
    padding: 50px;
    padding-bottom: 60px;
    max-width: 626px;

    box-shadow: 5px 15px 40px 0px #02051d52;

    .input-block {
      margin-bottom: 0;
    }

    &-grid {
      display: grid;
      grid-template-columns: 1fr 1fr;
      column-gap: 30px;
      row-gap: 18px;
      margin-bottom: 34px;

      .order-1 {
        order: 1;
      }

      .order-2 {
        order: 2;
      }

      .order-3 {
        order: 3;
      }

      .order-4 {
        order: 4;
      }

      .order-5 {
        order: 5;
      }

      .order-6 {
        order: 6;
      }
    }

    &::after {
      content: '';
      position: absolute;
      top: -178px;
      right: -532px;
      width: 560px;
      height: 888px;
      background: url('assets/img/calc-form-decor.png');
    }
  }
}

.checkbox-block {
  margin-top: 26px;
  margin-bottom: 16px ! important;

  .checkbox-input:not(:last-child) {
    margin-bottom: 14px;
  }
}

@include media-breakpoint-up(xl) {
  .checkbox-block {
    margin-top: 21px;
    margin-bottom: 0 ! important;
  }
}

.file-input {
  margin-bottom: 26px;

  .block {
    padding: 12px 0;
    // border: 1px solid #FFFFFF42;
    border-radius: 10px;

    font-size: 15px;
    font-weight: 400;
    line-height: 18.9px;
    text-align: center;

    cursor: pointer;

    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='10' ry='10' stroke='%23FFFFFF42' stroke-width='1' stroke-dasharray='2%2c 4' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
  }

  .file-list {
    margin-bottom: 14px;
    min-height: 18.9px;

    font-size: 15px;
    font-weight: 400;
    line-height: 18.9px;
    text-align: left;
  }

  &.drag-over .block {
      background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='10' ry='10' stroke='%2389C249FF' stroke-width='1' stroke-dasharray='2%2c 4' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
  }

  input {
    display: block;
    visibility: hidden;
    width: 0;
    height: 0;
    margin: 0;
    padding: 0;
    appearance: none;
  }
}
