.card-swiper {
  --swiper-pagination-bottom: 60px;
  --swiper-pagination-bullet-horizontal-gap: 13px;

  margin-bottom: -60px;
  padding-bottom: 40px;

  .swiper-wrapper {
    padding-bottom: 60px;
  }

  .swiper-slide {
    // width: fit-content !important;

    &:not(.swiper-slide-visible) * {
      box-shadow: none; // Disable shadow for invisible slides
    }
  }

  .swiper-pagination {
    font-size: 0;
  }

  .swiper-pagination-bullet {
    border: 2px solid #ffffff;
    opacity: 90;
    background: none;

    &.swiper-pagination-bullet-active {
      background: #ffffff;
    }
  }
}

.swiper-button-container {
  position: relative;
  bottom: 240px;
  --swiper-navigation-sides-offset: -60px;
  --swiper-navigation-size: 46px;
  --swiper-navigation-color: #6C6F7F;

  .swiper-button {
    display: none;
    color: #6C6F7F;

    &:hover {
      color: var(--bs-secondary)
    }
  }
}

@include media-breakpoint-up(xl) {
  .card-swiper {
    padding: 0 20px;

    .swiper-wrapper {
      // gap: 30px;
      // margin: 0 20px 60px;
    }

    .swiper-pagination {
      display: none;
    }
  }

  .swiper-button-container {
    .swiper-button {
      display: block;
    }
  }
}
