$body-bg: #282B38;
$body-color: #FFFFFF;

$primary: #E58D35;
$secondary: #89C249;

$min-contrast-ratio: 2;

$navbar-light-color: $body-color;
$navbar-light-hover-color: $secondary;

$btn-padding-y: 14px;
$btn-padding-x: 27px;
$btn-border-radius: 90px;

$btn-color: #FFFFFF;
$btn-font-weight: 600;
