body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

@include media-breakpoint-up(xl) {
  main {
    padding: 0 10px;
  }
}

// =====================================================================================================================
// ========== Lists ====================================================================================================
// =====================================================================================================================

ol:not([class]) li::marker {
  color: $primary;
}

ul:not([class]) {
  list-style-type: none;
  
  li {
    position: relative;

    &::before {
      $ul-decor-size: 8px !default;
      $ul-decor-offset: 20px !default;
    
      content: "";
      
      position: absolute;
      left: -$ul-decor-offset;
      top: calc(50% - $ul-decor-size / 2);
      
      width: $ul-decor-size;
      height: $ul-decor-size;
      
      background: $primary;

      transform: rotate(45deg);
    }
  }
}

// =====================================================================================================================
// ========== Buttons ==================================================================================================
// =====================================================================================================================

.btn {
  font-size: 16px;
  font-weight: 600;
  line-height: 23.36px;
}

// Dirty trick to increase specifity
.btn-with-icon.btn-with-icon {
  position: relative;
  text-align: start;

  .btn__icon {
    float: right;
    width: 27px;
    height: 27px;
    margin-left: 50px;
  }
}

// =====================================================================================================================
// ========== Forms ====================================================================================================
// =====================================================================================================================

.form-floating label {
  color: #CBCBCB !important;
}

// Dirty trick to increase specifity
.form-check-input.form-check-input {
  background-size: 12px;
}

// =====================================================================================================================
// ========== Page sections ============================================================================================
// =====================================================================================================================

.page-section {
  
}

.page-section:nth-child(2n + 1) {
  background: $body-secondary-bg;
  // background-clip: content-box;
  border-radius: 20px;
}

@include media-breakpoint-up(xl) {
  .page-section {
    margin-left: auto;
    margin-right: auto;
    max-width: 1820px;
  }
}

$content-container-padding-x: 20px;

.content-container {
  @include make-container($content-container-padding-x);
}

@include media-breakpoint-up(xl) {
  .content-container {
    max-width: 1140px + $content-container-padding-x * 2;
  }
}

