.shipping-card {
  min-width: 335px;
  max-width: 360px;
  margin: 0 auto;
  border-radius: 20px;
  background: $body-secondary-bg;
  // Remove x offset (looks weird in swiper)
  // box-shadow: 5px 15px 40px 0px #02051d52;
  box-shadow: 0px 15px 40px 0px #02051d52;

  &-image {
    display: block;
    width: 100%;
    height: 229px;
    margin-bottom: 27px;
    border-radius: 20px 20px 0 0 ;
  }

  &-title {
    margin-bottom: 11px;

    font-size: 22px;
    font-weight: 700;
    line-height: 27.39px;
    text-align: center;
  }

  &-conditions {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    margin-bottom: 12px;

    &>* {
      .text {
        margin-left: 10px;

        font-size: 16px;
        font-weight: 400;
        line-height: 19.92px;
        text-align: center;
      }
    }
  }

  &-price {
    margin-bottom: 17px;

    font-size: 22px;
    font-weight: 400;
    line-height: 27.39px;
    text-align: center;

    .big {
      font-size: 45px;
      font-weight: 700;
      line-height: 56.03px;
      text-align: center;
    }
  }

  &-buttons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 12px;
    padding: 0 23px 27px;

    .shipping-btn {
      padding: 14px 10px;

      font-size: 15px;
      font-weight: 600;
      line-height: 21.9px;
      text-align: center;
    }
  }
}

@include media-breakpoint-up(xl) {
  .shipping-card {
    // width: 360px;
  }
}
