<section class="page-section">
  <div class="content-container">
    <h2 class="page-section-title primary">Почему стоит выбрать именно нас?</h2>

    <div class="swiper swiper-benefits">
      <!-- Additional required wrapper -->
      <div class="swiper-wrapper">
        <!-- Slides -->
        <div class="swiper-slide">
          <img class="swiper-slide-title" src="assets/img/benefit-1.svg" />
          <p class="swiper-slide-description">Таможенное оформление груза</p>
        </div>
        <div class="swiper-slide">
          <img class="swiper-slide-title" src="assets/img/benefit-2.svg" />
          <p class="swiper-slide-description">Страховка груза</p>
        </div>
        <div class="swiper-slide">
          <img class="swiper-slide-title" src="assets/img/benefit-3.svg" />
          <p class="swiper-slide-description">Проверка товара на брак</p>
        </div>
        <div class="swiper-slide">
          <img class="swiper-slide-title" src="assets/img/benefit-4.svg" />
          <p class="swiper-slide-description">Доставка в любой город Украины</p>
        </div>
        <div class="swiper-slide">
          <img class="swiper-slide-title" src="assets/img/benefit-5.svg" />
          <p class="swiper-slide-description slim">Консолидация на складе</p>
        </div>
        <div class="swiper-slide">
          <img class="swiper-slide-title" src="assets/img/benefit-6.svg" />
          <p class="swiper-slide-description">Ответственное хранение груза</p>
        </div>
        <div class="swiper-slide">
          <img class="swiper-slide-title" src="assets/img/benefit-7.svg" />
          <p class="swiper-slide-description slim">Помощь в оплате товара</p>
        </div>
        <div class="swiper-slide">
          <img class="swiper-slide-title" src="assets/img/benefit-8.svg" />
          <p class="swiper-slide-description wide">Упаковка, переупаковка, паллетирование груза к международной
            перевозке</p>
        </div>
      </div>
      <!-- If we need pagination -->
      <div class="swiper-pagination"></div>
    </div>
  </div>
</section>
