<section class="page-section">
  <div class="content-container">
    <h2 class="page-section-title secondary align-left">О компании</h2>
    <div class="about">
      <p>Компания Азия Карго - это полный комплекс логистических услуг по доставке грузов из Китая в Украину - сборные
        грузы и цельные товарные партии, услуги посредника ТаоБао, КАРГО Китай-Украину. Для вашего удобства есть тарифы
        на лёгкий и тяжелый куб. Мы работаем на рынке более 4 лет, а руководители компании занимаются логистикой уже
        более 11 лет.
      </p>
      <p>Мы стремимся предоставить лучшие условия доставки и лучший сервис своим клиентам. Выбирая нас - вы выбираете
        качественную доставку оптимальную по цене и времени! Убедитесь в этом сами!</p>
      <img class="illustration" src="assets/img/about.png" />
    </div>
    <h2 class="page-section-title primary">Часто задаваемые вопросы</h2>
    <div class="faq">
      <div class="faq-accordion" id="accordion-faq">
        <div class="faq-accordion-item">
          <h3 class="faq-accordion-header">
            <button class="faq-accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq-1" aria-controls="faq-1">
              Как рассчитывается стоимость доставки?
            </button>
          </h2>
          <div id="faq-1" class="faq-accordion-collapse collapse" data-bs-parent="#accordion-faq">
            <p class="faq-accordion-body">
              Да, мы предоставляем такую услугу, мы можем взять оплату товара в Китае на себя. Если у вас нет валютного счёта, то можете оплатить товар в гривнах на наш счет.
            </p>
          </div>
        </div>

        <div class="faq-accordion-item">
          <h3 class="faq-accordion-header">
            <button class="faq-accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq-2" aria-controls="faq-2">
              Как происходит оплата за доставку груза?
            </button>
          </h2>
          <div id="faq-2" class="faq-accordion-collapse collapse" data-bs-parent="#accordion-faq">
            <p class="faq-accordion-body">
              Да, мы предоставляем такую услугу, мы можем взять оплату товара в Китае на себя. Если у вас нет валютного счёта, то можете оплатить товар в гривнах на наш счет.
            </p>
          </div>
        </div>

        <div class="faq-accordion-item">
          <h3 class="faq-accordion-header">
            <button class="faq-accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq-3" aria-controls="faq-3">
              Как происходит оплата за доставку груза?
            </button>
          </h2>
          <div id="faq-3" class="faq-accordion-collapse collapse" data-bs-parent="#accordion-faq">
            <p class="faq-accordion-body">
              Да, мы предоставляем такую услугу, мы можем взять оплату товара в Китае на себя. Если у вас нет валютного счёта, то можете оплатить товар в гривнах на наш счет.
            </p>
          </div>
        </div>

        <div class="faq-accordion-item">
          <h3 class="faq-accordion-header">
            <button class="faq-accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#faq-4" aria-controls="faq-4">
              Можно ли через вас оплатить товар поставщику?
            </button>
          </h2>
          <div id="faq-4" class="faq-accordion-collapse collapse show" data-bs-parent="#accordion-faq">
            <p class="faq-accordion-body">
              Да, мы предоставляем такую услугу, мы можем взять оплату товара в Китае на себя. Если у вас нет валютного счёта, то можете оплатить товар в гривнах на наш счет.
            </p>
          </div>
        </div>

        <div class="faq-accordion-item">
          <h3 class="faq-accordion-header">
            <button class="faq-accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq-5" aria-controls="faq-5">
              В чём особенность КАРГО доставки из Китая?
            </button>
          </h2>
          <div id="faq-5" class="faq-accordion-collapse collapse" data-bs-parent="#accordion-faq">
            <p class="faq-accordion-body">
              Да, мы предоставляем такую услугу, мы можем взять оплату товара в Китае на себя. Если у вас нет валютного счёта, то можете оплатить товар в гривнах на наш счет.
            </p>
          </div>
        </div>

        <div class="faq-accordion-item">
          <h3 class="faq-accordion-header">
            <button class="faq-accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq-6" aria-controls="faq-6">
              Какой срок доставки из Китая?
            </button>
          </h2>
          <div id="faq-6" class="faq-accordion-collapse collapse" data-bs-parent="#accordion-faq">
            <p class="faq-accordion-body">
              Да, мы предоставляем такую услугу, мы можем взять оплату товара в Китае на себя. Если у вас нет валютного счёта, то можете оплатить товар в гривнах на наш счет.
            </p>
          </div>
        </div>
      </div>
      <form class="faq-form">
        <h3 class="faq-form-title">Остались вопросы?</h3>
        <p class="faq-form-description">Оставьте заявку и наш менеджер ответит вам в ближайшее время</p>
        <div class="faq-form-fields">
            <input id="name" class="form-control" type="text" placeholder="Имя *" required />
            <input id="phone" class="form-control" type="phone" placeholder="Телефон *" required />
            <input id="email" class="form-control" type="text" placeholder="E-mail"/>
            <textarea id="question" class="form-control form-textarea" placeholder="Ваш вопрос"></textarea>
        </div>
        <div class="faq-form-submit">
          <button class="btn btn-primary btn-block btn-with-icon" type="submit">
            Отправить запрос
            <img class="btn__icon" src="assets/img/button-arrow.svg" /></button>
          </button>
        </div>
      </form>
    </div>
  </div>
</section>
