<section class="page-section">
  <div class="content-container">
    <div class="about">
      <h2 class="page-section-title secondary align-left">О компании</h2>
      <p>Компания Азия Карго - это полный комплекс логистических услуг по доставке грузов из Китая в Украину - сборные
        грузы и цельные товарные партии, услуги посредника ТаоБао, КАРГО Китай-Украину. Для вашего удобства есть тарифы
        на лёгкий и тяжелый куб. Мы работаем на рынке более 4 лет, а руководители компании занимаются логистикой уже
        более 11 лет.
      </p>
      <p>Мы стремимся предоставить лучшие условия доставки и лучший сервис своим клиентам. Выбирая нас - вы выбираете
        качественную доставку оптимальную по цене и времени! Убедитесь в этом сами!</p>
      <img class="illustration" src="assets/img/about.png" />
    </div>
    <div class="faq">
      <h2 class="page-section-title primary">Часто задаваемые вопросы</h2>
      <div class="faq-accordion" id="accordion-faq">
        <div class="faq-accordion-item">
          <h3 class="faq-accordion-header">
            <button class="faq-accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq-1" aria-controls="faq-1">
              Как рассчитывается стоимость доставки?
            </button>
          </h2>
          <div id="faq-1" class="faq-accordion-collapse collapse" data-bs-parent="#accordion-faq">
            <p class="faq-accordion-body">
              Да, мы предоставляем такую услугу, мы можем взять оплату товара в Китае на себя. Если у вас нет валютного счёта, то можете оплатить товар в гривнах на наш счет.
            </p>
          </div>
        </div>

        <div class="faq-accordion-item">
          <h3 class="faq-accordion-header">
            <button class="faq-accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq-2" aria-controls="faq-2">
              Как происходит оплата за доставку груза?
            </button>
          </h2>
          <div id="faq-2" class="faq-accordion-collapse collapse" data-bs-parent="#accordion-faq">
            <p class="faq-accordion-body">
              Да, мы предоставляем такую услугу, мы можем взять оплату товара в Китае на себя. Если у вас нет валютного счёта, то можете оплатить товар в гривнах на наш счет.
            </p>
          </div>
        </div>

        <div class="faq-accordion-item">
          <h3 class="faq-accordion-header">
            <button class="faq-accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq-3" aria-controls="faq-3">
              Как происходит оплата за доставку груза?
            </button>
          </h2>
          <div id="faq-3" class="faq-accordion-collapse collapse" data-bs-parent="#accordion-faq">
            <p class="faq-accordion-body">
              Да, мы предоставляем такую услугу, мы можем взять оплату товара в Китае на себя. Если у вас нет валютного счёта, то можете оплатить товар в гривнах на наш счет.
            </p>
          </div>
        </div>

        <div class="faq-accordion-item">
          <h3 class="faq-accordion-header">
            <button class="faq-accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq-4" aria-controls="faq-4">
              Можно ли через вас оплатить товар поставщику?
            </button>
          </h2>
          <div id="faq-4" class="faq-accordion-collapse collapse" data-bs-parent="#accordion-faq">
            <p class="faq-accordion-body">
              Да, мы предоставляем такую услугу, мы можем взять оплату товара в Китае на себя. Если у вас нет валютного счёта, то можете оплатить товар в гривнах на наш счет.
            </p>
          </div>
        </div>

        <div class="faq-accordion-item">
          <h3 class="faq-accordion-header">
            <button class="faq-accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq-5" aria-controls="faq-5">
              В чём особенность КАРГО доставки из Китая?
            </button>
          </h2>
          <div id="faq-5" class="faq-accordion-collapse collapse" data-bs-parent="#accordion-faq">
            <p class="faq-accordion-body">
              Да, мы предоставляем такую услугу, мы можем взять оплату товара в Китае на себя. Если у вас нет валютного счёта, то можете оплатить товар в гривнах на наш счет.
            </p>
          </div>
        </div>

        <div class="faq-accordion-item">
          <h3 class="faq-accordion-header">
            <button class="faq-accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq-6" aria-controls="faq-6">
              Какой срок доставки из Китая?
            </button>
          </h2>
          <div id="faq-6" class="faq-accordion-collapse collapse" data-bs-parent="#accordion-faq">
            <p class="faq-accordion-body">
              Да, мы предоставляем такую услугу, мы можем взять оплату товара в Китае на себя. Если у вас нет валютного счёта, то можете оплатить товар в гривнах на наш счет.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
