<footer class="footer content-container">
  <div class="footer-row justify-content-center">
    <div class="col col-lg-3">
      <img class="footer-logo" src="assets/img/logo.svg" />
      <ul class="footer-address">
        <li>8(800)600-18-69</li>
        <li><a class="mail-link" href="mailto:info@cargoasia.info">info@cargoasia.info</a></li>
        <li>Адрес в Китае:</li>
        <li>浙江省金华市义乌市后宅街道洪华小区5</li>
        <li>栋一单元一楼RT789库房 高建军 电话</li>
        <li>15966660379</li>
      </ul>
      <div class="footer-socials">
        <a href="#"><img src="assets/img/instagram.svg" alt="instagram" /></a>
        <a href="#"><img src="assets/img/vk.svg" alt="vk" /></a>
        <a href="#"><img src="assets/img/telegram.svg" alt="telegram" /></a>
      </div>
    </div>
    <div class="col-lg-3 d-none d-xl-block">
      <h6 class="footer-title">Грузоперевозки</h6>
      <ul class="footer-link-list">
        <li><a class="map-link" href="#">Цены и сроки</a></li>
        <li><a class="map-link" href="#">Услуги</a></li>
        <li><a class="map-link" href="#">О компании</a></li>
        <li><a class="map-link" href="#">Контакты</a></li>
        <li><a class="map-link" href="#">Оформить груз</a></li>
      </ul>
    </div>
    <div class="col-lg-3 d-none d-xl-block">
      <h6 class="footer-title">Услуги</h6>
      <ul class="footer-link-list">
        <li><a class="map-link" href="#">Выкуп товара</a></li>
        <li><a class="map-link" href="#">Страховка груза</a></li>
        <li><a class="map-link" href="#">Аренда склада</a></li>
        <li><a class="map-link" href="#">Перевод денежных средств</a></li>
      </ul>
    </div>
    <div class="col-lg-3 d-none d-xl-block">
      <h6 class="footer-title">Информация</h6>
      <ul class="footer-link-list">
        <li><a class="map-link" href="#">Отзывы</a></li>
        <li><a class="map-link" href="#">Требования к грузу</a></li>
        <li><a class="map-link" href="#">Договор-оферта</a></li>
        <li><a class="map-link" href="#">Как заключить договор</a></li>
        <li><a class="map-link" href="#">Способы оплаты услуг</a></li>
        <li><a class="map-link" href="#">Документы</a></li>
        <li><a class="map-link" href="#">Статьи</a></li>
      </ul>
    </div>
  </div>
</footer>
</body>

</html>
