<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="theme-color" content="#188de7">
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <title>Markup</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
  <link rel="stylesheet" type="text/css" href="style.css" />
  <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js" defer></script>
  <script src="assets/js/bootstrap.bundle.js" defer></script>
  <script src="assets/js/drop-zone.js" defer></script>
  <script src="assets/js/script.js" defer></script>
</head>

<body class="font-proxima-nova">
