<section class="page-section">
  <div class="content-container">
    <h2 class="page-section-title primary">услуги</h2>

    <div class="card-swiper-container">
      <div class="swiper card-swiper">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper">
          <!-- Slides -->
          <div class="swiper-slide">
            <div class="service-card" style="--bg-image: url('assets/img/product-buyout.png')">
              <h3 class="service-card-title">Выкуп товара</h3>
              <p class="service-card-description">
                Компания - это полный комплекс логистических услуг по доставке грузов из Китая в Украину - сборные грузы и цельные товарные партии, услуги посредника ТаоБао, КАРГО Китай-Украина
              </p>
              <button class="service-card-button btn btn-outline-primary text-white">
                Подробнее
              </button>
            </div>
          </div>

          <div class="swiper-slide">
            <div class="service-card" style="--bg-image: url('assets/img/insurance.png')">
              <h3 class="service-card-title">Страховка груза</h3>
              <p class="service-card-description">
                Компания - это полный комплекс логистических услуг по доставке грузов из Китая в Украину - сборные грузы и цельные товарные партии, услуги посредника ТаоБао, КАРГО Китай-Украина.
              </p>
              <button class="service-card-button btn btn-outline-primary text-white">
                Подробнее
              </button>
            </div>
          </div>

          <div class="swiper-slide">
            <div class="service-card" style="--bg-image: url('assets/img/warehouse-rent.png')">
              <h3 class="service-card-title">Аренда склада</h3>
              <p class="service-card-description">
                Компания - это полный комплекс логистических услуг по доставке грузов из Китая в Украину - сборные грузы и цельные товарные партии, услуги посредника ТаоБао, КАРГО Китай-Украина
              </p>
              <button class="service-card-button btn btn-outline-primary text-white">
                Подробнее
              </button>
            </div>
          </div>

          <div class="swiper-slide">
            <div class="service-card" style="--bg-image: url('assets/img/transaction.png')">
              <h3 class="service-card-title">Перевод денежных средств</h3>
              <p class="service-card-description">
                Компания - это полный комплекс логистических услуг по доставке грузов из Китая в Украину - сборные грузы и цельные товарные партии, услуги посредника ТаоБао, КАРГО Китай-Украина
              </p>
              <button class="service-card-button btn btn-outline-primary text-white">
                Подробнее
              </button>
            </div>
          </div>
        </div>
        <!-- If we need pagination -->
        <div class="swiper-pagination"></div>
      </div>
      <div class="swiper-button-container">
        <!-- If we need navigation buttons -->
        <div class="swiper-button swiper-button-prev"></div>
        <div class="swiper-button swiper-button-next"></div>
      </div>
    </div>
  </div>
</section>
