<section class="page-section">
  <div class="content-container">
    <h2 class="page-section-title secondary">Варианты доставки грузов из Китая</h2>

    <div class="swiper swiper-card">
      <!-- Additional required wrapper -->
      <div class="swiper-wrapper">
        <!-- Slides -->
        <div class="swiper-slide">
          <div class="shipping-card">
            <img class="shipping-card-image" src="assets/img/auto-standart.png" />
            <h3 class="shipping-card-title">Авто - обычная</h3>
            <div class="shipping-card-conditions">
              <span>
              <img class="icon" src="assets/img/calendar-icon.svg" />
              <span class="text">9-15 дней</span>
              </span>
              <span>
              <img class="icon" src="assets/img/box-icon.svg" />
              <span class="text">от 5 кг</span>
              </span>
            </div>
            <p class="shipping-card-price">
              <span class="text-body-secondary">от</span>
              <span class="big">2,5</span>$/кг
            </p>
            <div class="shipping-card-buttons">
              <button class="shipping-btn btn btn-primary">
                Оставить заявку
              </button>
              <button class="shipping-btn btn btn-outline-primary text-white">
                Подробнее
              </button>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="shipping-card">
            <img class="shipping-card-image" src="assets/img/auto-standart.png" />
            <h3 class="shipping-card-title">Авто - обычная</h3>
            <div class="shipping-card-conditions">
              <span>
              <img class="icon" src="assets/img/calendar-icon.svg" />
              <span class="text">9-15 дней</span>
              </span>
              <span>
              <img class="icon" src="assets/img/box-icon.svg" />
              <span class="text">от 5 кг</span>
              </span>
            </div>
            <p class="shipping-card-price">
              <span class="text-body-secondary">от</span>
              <span class="big">2,5</span>$/кг
            </p>
            <div class="shipping-card-buttons">
              <button class="shipping-btn btn btn-primary">
                Оставить заявку
              </button>
              <button class="shipping-btn btn btn-outline-primary text-white">
                Подробнее
              </button>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="shipping-card">
            <img class="shipping-card-image" src="assets/img/auto-standart.png" />
            <h3 class="shipping-card-title">Авто - обычная</h3>
            <div class="shipping-card-conditions">
              <span>
              <img class="icon" src="assets/img/calendar-icon.svg" />
              <span class="text">9-15 дней</span>
              </span>
              <span>
              <img class="icon" src="assets/img/box-icon.svg" />
              <span class="text">от 5 кг</span>
              </span>
            </div>
            <p class="shipping-card-price">
              <span class="text-body-secondary">от</span>
              <span class="big">2,5</span>$/кг
            </p>
            <div class="shipping-card-buttons">
              <button class="shipping-btn btn btn-primary">
                Оставить заявку
              </button>
              <button class="shipping-btn btn btn-outline-primary text-white">
                Подробнее
              </button>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="shipping-card">
            <img class="shipping-card-image" src="assets/img/auto-standart.png" />
            <h3 class="shipping-card-title">Авто - обычная</h3>
            <div class="shipping-card-conditions">
              <span>
              <img class="icon" src="assets/img/calendar-icon.svg" />
              <span class="text">9-15 дней</span>
              </span>
              <span>
              <img class="icon" src="assets/img/box-icon.svg" />
              <span class="text">от 5 кг</span>
              </span>
            </div>
            <p class="shipping-card-price">
              <span class="text-body-secondary">от</span>
              <span class="big">2,5</span>$/кг
            </p>
            <div class="shipping-card-buttons">
              <button class="shipping-btn btn btn-primary">
                Оставить заявку
              </button>
              <button class="shipping-btn btn btn-outline-primary text-white">
                Подробнее
              </button>
            </div>
          </div>
        </div>
      </div>
      <!-- If we need pagination -->
      <div class="swiper-pagination"></div>

      <!-- If we need navigation buttons -->
      <div class="swiper-button swiper-button-prev"></div>
      <div class="swiper-button swiper-button-next"></div>
    </div>
</section>
