<section class="page-section bg-body">
  <div class="swiper swiper-banner">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">
      <!-- Slides -->
      <div class="swiper-slide" style="background-image: url('assets/img/banner-1.png');">
        <div class="banner content-container">
          <p class="banner-title">Прямое КАРГО из Китая</p>
          <p class="banner-description">Доставляем любые грузы из Китая по честной цене</p>
          <button class="btn btn-with-icon btn-primary">
            Рассчитать стоимость
            <img class="btn__icon" src="assets/img/button-arrow.svg" />
          </button>
        </div>
      </div>
      <div class="swiper-slide" style="background-image: url('assets/img/banner-2.png');">
        <div class="banner content-container">
          <p class="banner-title">Выкуп товара с ТаоБао, 1688</p>
          <p class="banner-description">Выкуп и доставка товаров с китайских торговых площадок. </p>
          <button class="btn btn-with-icon btn-primary">
            Рассчитать стоимость
            <img class="btn__icon" src="assets/img/button-arrow.svg" />
          </button>
        </div>
      </div>
      <div class="swiper-slide" style="background-image: url('assets/img/banner-3.png');">
        <div class="banner content-container">
          <p class="banner-title">Экспресс авто доставка</p>
          <p class="banner-description empty"></p>
          <button class="btn btn-with-icon btn-primary">
            Рассчитать стоимость
            <img class="btn__icon" src="assets/img/button-arrow.svg" />
          </button>
        </div>
      </div>
    </div>
    <!-- If we need pagination -->
    <div class="swiper-pagination"></div>

    <!-- If we need navigation buttons -->
    <div class="swiper-button swiper-button-prev"></div>
    <div class="swiper-button swiper-button-next"></div>
  </div>
</section>
